@{
    ViewData["Title"] = "İletişim";
}

<div class="container mt-4">
    <h2>İletişim</h2>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <h4>Adres</h4>
            <p>
                Akdeniz Üniversitesi<br />
                Dumlupınar Bulvarı<br />
                07058 Konyaaltı/Antalya
            </p>

            <h4>İletişim Bilgileri</h4>
            <p>
                <strong>Telefon:</strong> (0242) XXX XX XX<br />
                <strong>E-posta:</strong> info@example.com
            </p>
        </div>
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.1631387317834!2d30.663410776217247!3d36.89699787002463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c39b0e7d7cd519%3A0x106d4b8d8d57b6bf!2sAkdeniz%20%C3%9Cniversitesi!5e0!3m2!1str!2str!4v1704354169317!5m2!1str!2str" 
                width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div> 